<menu>
  <header>
    <nav>
      <ul>
        <li><a href="/"> HOME </a></li>
        <li><a href="sobre"> SOBRE </a></li>
        <% if(!req.session.loggedin) { %>
        <li><a href="cadastro"> CADASTRO </a></li>
        <li><a href="login"> LOGIN </a></li>
        <% } else { %>
        <li><a href="dashboard"> DASHBOARD </a></li>
        <li><a href="logout"> LOGOUT </a></li>
        <li><a href="post_create"> CRIAR POST </a></li>
        <input type="search" id="pesquisa" placeholder="Search" >
        <% } %>
      </ul>
    </nav>
    
  </header>
</menu>