
<header>
<center><table>
    <tr>
        <td><a href="/"> Início </a></td>
        <td><a href="sobre"> Sobre </a></td>
        <% if(!req.session.loggedin) { %>
        <td><a href="cadastro"> Cadastro </a></td>
        <td><a href="login"> Login </a></td>
        <% } else { %>
        <td><a href="dashboard"> Dashboard </a></td>
        <td><a href="logout"> Logout </a></td>
        <td><a href="post_create"> Criar post </a></td>
        <% } %>
    </tr>
</table>
</center>
</header>
<br><br><br>    