<menu>
  <header>
    <nav>
      <ul>
        <li><a href="/"> HOME </a></li>
        <li><a href="sobre"> ABOUT </a></li>
        <% if(!req.session.loggedin) { %>
        <li><a href="cadastro"> REGISTER </a></li>
        <li><a href="login"> LOGIN </a></li>
        <% } else { %>
        <% if(req.session.adm) {%>
        <li><a href="dashboard"> DASHBOARD </a></li>
        <% } %>
        <li><a href="posts-tabela"> POSTS </a></li>
        <li><a href="post_create"> NEW POST </a></li>
        <div class="search">
          <label for="">
            <span class="material-symbols-outlined">search</span>
          </label>
          <form>
            <input type="text" name="search" placeholder="Pesquisar postagens..." value="<%=search%>">
            <br><br>
            <button type="submit">Buscar</button>
            </form>      
        </div>
        <!-- <div class="card-container">
          <div class="card">
            <h3>titulo</h3>
            <p>descrição</p>
          </div>
         </div> -->

        <!-- <input type="search" id="pesquisa" placeholder="Search" > -->
        <li><a href="logout"><span class="material-symbols-outlined">logout</span> </a></li>
        <% } %>
      </ul>

    </nav>
  </header>
</menu>