<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body>

  <%- include("../partials/menu"); %>

  <main>
    <div class="container">
      <div class="login">
        <form action="cadastro" method="post">
          <h1>CADASTRO</h1>
          <label for="username">User: </label>
          <input type="text" id="username" name="username">
          <label for="password">Senha:</label>
          <input type="text" id="senha" name="password">
          <button type="submit">Cadastrar</button>
          <!-- <a href="login"> Já tenho cadastro</a> -->
        </form>
      </div>
    </div>
  </main>

  <%- include ("../partials/footer") %>

</body>

</html>