<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>


    <body>


        <center>
            Bem-vindo à pagina Cadastro!<br><br>
            <form action="cadastro" method="post">
                User:
                <input type="text" id="username" name="username"> <br><br>
                Senha:
                <input type="text" id="senha" name="password"> <br><br>
                <br><br>
                <button type ="submit">Cadastrar</button>   
            </form>
      
          

            </form><br>
            <a href="login"> Já tenho cadastro</a>
         
          
        </center>

    <%- include ("../partials/footer") %>

    </body>

</html>