<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>

<main><%- include ("../partials/usertable") %></main>
<body>
    <center>
        Time em melhor fase atualmente, dominando minhas entradas na nba! <br>    
        Okahoma City Thunder
        <br><br>
        <img src='./static/thunders.jpg' width="650" height="400"/>
        <br><br>
        <a href="/"> Ir para a página inicial</a>

        <%- include ("../partials/footer") %>
    </center>


</body>

</html>