<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>

<main><%- include ("../partials/usertable") %></main><br>
<body>
    <center>
 <br>    

        <br><br>
        <a href="/"> Ir para a página inicial</a>

        <%- include ("../partials/footer") %>
    </center>


</body>

</html>