<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <%- include ("../partials/menu") %>
<body>
    <center>
        Deseja deletar seu post?
        <br><br>
        <button type ="submit">Deletar Post</button>   

 
    </center>
    <%- include ("../partials/footer") %>

</body>

</html>