<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <%- include ("../partials/menu") %>
<body>
    <center>
        Error 404 - Page not found
        <br><br>
        <img src='./static/404.png' width="450" height="400"/>
        <br><br>

 
    </center>
    <%- include ("../partials/footer") %>

</body>

</html>