<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>



<body>

    <center>
        MENU<br><br><img src='./static/nba.jpg' width="650" height="400"/><br>

        <%- include ("../partials/footer") %>
    </center>

   
</body>
