<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <center>
        Usuário já cadastrado
        <br><br>
        <img src='./static/error.png' width="450" height="400"/>
        <br><br>
        <a href="/cadastro"> Voltar para a página de cadastro</a>

 
    </center>


</body>

</html>