<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>


<body>
    <center>
        Bem vindo à página login
        <br><br>
        <form action="login" method="post">
            User:
            <input type="text" id="username" name="username"> <br><br>
            Senha:
            <input type="text" id="senha" name="password"> 
            <br><br>
            <button type ="submit">Login</button>   
          </form>
        
            </form>  <br>



        <a href="cadastro"> Não tenho cadastro</a><br>
        <%- include ("../partials/footer") %>
    </center>

</body>

</html>