<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>

<body>
    <center>
    Posts
 
        <%- include ("../partials/posttable") %>
        <%- include ("../partials/footer") %>
    </center>


</body>

</html>
