<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>


<body>
  <form action="/post_create" method="post">
    Título:
    <input type="text" id="titulo" name="titulo">
    Conteúdo:
    <textarea id="conteudo" name="conteudo" rows="10" cols="70" required></textarea><br>
    <button type="submit">Criar post</button>
  </form>

  <%- include ("../partials/footer") %>

</body>

</html>