<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>


<body>
  <div class="content">
    <div class="criar-post">
      <form action="/post_create" method="post">
        <label for="title">Titúlo</label>
        <input type="text" id="titulo" name="titulo">
        <label for="info">Publicação</label>
        <textarea id="conteudo" name="conteudo" rows="10" cols="50" required></textarea><br>
        <button type="submit">New Post</button>
      </form>
    </div>
  </div>
  <%- include ("../partials/footer") %>

</body>

</html>