<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>

  <%- include ("../partials/menu") %>

  <img src='./static/jalen green.jpg' width="90%" height="auto" margin="10px auto"/>

  <img src='./static/finals.jpg' width="90%" height="auto">


  <!-- <br> Nesta página falaremos sobre os melhores jogos da nba e sobre o mundo do basquete -->
  <!-- <a href="login"> Ir para a página de login</a> -->

  <%- include ("../partials/footer") %>

</body>

</html>