<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include ("../partials/menu") %>


<body>

    <center>
        Sobre a página
        <br>
        <img src='./static/jalen green.jpg' width="650" height="400" /><br>
        <br> Nesta página falaremos sobre os melhores jogos da nba e sobre o mundo do basquete<br><br>
        <a href="login"> Ir para a página de login</a>

        <%- include ("../partials/footer") %>
    </center>



</body>

</html>