<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <center>
        Post criado com sucesso
        <br><br>
        <img src='./static/sucesso.png' width="450" height="400"/>
        <br><br>
        <a href="/posts-tabela"> Ir para a página de Posts</a>

 
    </center>


</body>

</html>