table td {
    padding: 0 40px;
}

a:link{

    text-decoration: none;
}
header {
    background-color: #9c9c9c;
    padding: 35px 0px;
    color: #fff;    

}

body{
    background-color: #7d7d7d;
    color:#fff;
}

footer {
    bottom: 0;
    left: 40%;
    text-align: center;
    padding: 30px 0px;
    color: #ffffff;
    
  }

table{
    text-align: center;
    padding: 30px 0px;
    justify-content: space-around;
    width: 100%;
}
